body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.cont_princ {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cont_crear_new table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.cont_crear_new input, .cont_crear_new select, .cont_crear_new button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cont_crear_new button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}
